<a href="https://colab.research.google.com/github/OHKANGEUN/BP_06_Ch5/blob/main/Untitled6.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

6.난수생성 함수를 사용하여 2개의 주사위를 던져서 나오는 수를 다음과 같이 출력해보자

In [4]:
from random import randint


for i in range(3):
   d1=randint(1,6)
   d2=randint(1,6)
print("첫번째 주사위=",d1,"두번째 주사위=",d2)

첫번째 주사위= 6 두번째 주사위= 5